@charset "utf-8";
//主题色
$themeColor: #ff8a65;

@mixin borderR($deg:0){
    border-radius: $deg;
    -webkit-border-radius: $deg;
    -moz-border-radius: $deg;
}
@mixin boxSizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@mixin tsn($time:.3s){
    transition: ($time);
    -webkit-transition: ($time);
    -moz-transition: ($time);
}
@mixin tsm($content){
    transform: $content;
    -webkit-transform: $content;
    -moz-transform: $content;
}
@mixin font($size, $color){
    font-size: $size;
    color: $color;
}
@mixin boxShadow($content){
    box-shadow: $content;
    -webkit-box-shadow: $content;
    -moz-box-shadow: $content;
    -o-box-shadow: $content;
    -ms-box-shadow: $content;
}

//百分之百的遮罩层，参数为index
@mixin coverLayer($zIndex){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zIndex;
}
//文字省略半透明层，参数为height
@mixin txtMask($height){
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: $height;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #fff 35%, rgba(255,255,255,0));
    background: -webkit-linear-gradient(to top, #fff 35%, rgba(255,255,255,0));
}

/* 绝对居中 */
@mixin absoluteCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    @include tsm(translate(-50%, -50%));
}

/* 单行溢出省略 */
@mixin textOver(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*怪异盒模型*/
@mixin boxSizing(){
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*禁止选中文本*/
@mixin userSelect(){
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*淡出*/
@mixin fade-show(){
    visibility: visible;
    opacity: 1;
}
/*淡出*/
@mixin fade-hide(){
    visibility: hidden;
    opacity: 0;
}



%btnP{
    box-shadow: 0px 1px 4px rgba(128,10,0,.5);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    &:hover{
        box-shadow: 0px 1px 4px rgba(128,10,0,.2);
    }

}
%btn{
    background-color: #ff8a65;
    border: 1px solid #ff7366;
    //box-shadow: 2px 0 4px rgba(128,10,0,.5);
    box-shadow: inset 1px 2px 4px rgba(255,255,255,.5);
    -webkit-box-shadow: inset 1px 2px 4px rgba(255,255,255,.5);
    -moz-box-shadow: inset 1px 2px 4px rgba(255,255,255,.5);
    transition: .05s;
    -webkit-transition: .05s;
    -moz-transition: .05s;
    outline: none;

    &:active{
        box-shadow: inset 1px 2px 4px rgba(0,0,0,.1);
    }
}
